@charset "UTF-8";

/* 헤더 - 마우스오버 효과 시작 */
:is(.login, .home, .laptop):hover {
    cursor: url(../img/cursor.cur), auto;
}

header ul li:hover::after {
    width: 100%;
}

.login:hover {
    background-color: #ff9900;
    color: #000;
}
/* 헤더 - 마우스오버 효과 끝 */

/* 마우스 오버 시 포인트로 변환 (헤더, 풋터) */
:is(header ul li, #foottop li, #footerlogo, .footerinfo ol li, .iconbox img, .mobile):hover {
    cursor: pointer;
}

/* 바디 */
#wrap {
    width: 100%;
    height: auto;
    background-color: #000;
}

/* 헤더 */
header {
    width: 100%;
    height: auto;
    max-height: 80px;
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 5;
}

/* 헤더 - 로고 */
#logo {
    width: 90px;
    height: 60px;
    margin: 10px;
    display: inline-block;
}

/* 헤더 - 로고 이미지 */
#logo img {
    width: 100%;
    height: auto;
}

/* 헤더 - 네비게이션 */
header ul {
    width: 85%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    line-height: 50px;
    margin: 0 120px;
}

/* 헤더 - 네비게이션 메뉴 */
header ul li {
    color: #fff;
    font-size: 0.8em;
    padding: 10px 20px;
    line-height: 30px;
}

/* 헤더 - 로그인/회원가입 */
.loginbox {
    width: 250px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 0.8em;
    margin: 0 30px;
}

/* 헤더 - 로그인 */
.login {
    padding: 10px 20px;
}

/* 헤더 - 회원가입 */
.signup {
    padding: 10px 30px;
}

/* 헤더 - 메뉴 마우스호버 효과 뼈대 */
header ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: #ff9900;
}

/* 풋터 시작 */
footer {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    color: #fff;
    font-size: 0.9em;
}

footer .footerbox {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.footerbox #foottop {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0 50px;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}

#footerlogo {
    width: 110px;
    height: 80px;
    margin-bottom: 30px;
}

.footerinfo {
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 50px;
}

.footerinfo ol {
    width: 50%;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.iconbox {
    width: 50%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.footerinfo img {
    width: 24px;
    height: 24px;
}

#companyinfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#companyinfo #footerglobal {
    width: 33%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* 풋터 끝 */

/* 반응형 -  헤더 로고 */
.headertitle {
    display: none;
}

.headertitle h3 {
    color: #fff;
    font-size: 0.9em;
}

/* 반응형 - 메뉴 */
.mobile {
    display: none;
    width: 48px;
    height: 48px;
}

.mobile img {
    width: 100%;
    height: auto;
}

/* 반응형 - 노트북 메뉴 */
.laptop {
    display: none;
    background-image: url("../img/menu3.png");
}

#laptopmenu {
    margin: 10px;
}

/* .laptop {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 10px;
} */
