@charset "UTF-8";

/* 헤더 - 메뉴 마우스오버 효과 시작 */
:is(.login, .home, .laptop):hover {
    cursor: url(../img/cursor.cur), auto;
}

header ul li:hover::after {
    width: 100%;
}

.login:hover {
    background-color: #ff9900;
    color: #000;
}
/* 헤더 - 메뉴 마우스오버 효과 끝 */

/* 헤더, 풋터 - 마우스 오버 시 포인트로 변환 */
:is(header ul li, .mobile, #foottop li, #footerlogo, .footerinfo ol li, .iconbox img):hover {
    cursor: pointer;
}

/* 바디 - 기본 설정 */
#wrap {
    width: 100%;
    height: auto;
    background-color: #000;
}

/* 헤더 - 기본 설정 */
header {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 5;
}

/* 헤더 - 로고 기본 설정  */
#logo {
    width: 100%;
    height: auto;
}

/* 헤더 - 로고 이미지 기본 설정 */
#logo img {
    width: 100%;
    height: auto;
}

/* 헤더 - 내비게이션 기본 설정 */
header ul {
    width: 100%;
    height: auto;
    background-color: #000;
}

/* 헤더 - 내비게이션 메뉴 기본 설정 */
header ul li {
    color: #fff;
    font-size: 0.8em;
}

/* 반응형 - 모바일 기본 설정 시작*/
.mobile {
    display: none;
    width: 100%;
    height: auto;
}

.mobile img {
    width: 100%;
    height: auto;
}

.headertitle {
    display: none;
}

.headertitle h3 {
    color: #fff;
    font-size: 0.9em;
}
/* 반응형 - 모바일 기본 설정 끝*/

/* 헤더 - 로그인/회원가입 기본 설정 */
.loginbox {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 0.8em;
}

/* 헤더 - 메뉴 마우스오버 효과 기본 설정 */
header ul li::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background-color: #ff9900;
}

/* 풋터 - 기본 설정 시작 */
footer {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 0.9em;
}

footer .footerbox {
    width: 100%;
    height: auto;
    display: flex;
}

.footerbox #foottop {
    width: 100%;
    height: auto;
    display: flex;
}

/* 풋터 - 로고 기본 설정*/
.footerbox #footerlogo {
    width: 100%;
    height: auto;
}

/* 풋터 - 기업정보 & SNS 아이콘 기본 설정 */
.footerbox .footerinfo {
    width: 100%;
    height: auto;
    display: flex;
}

/* 풋터 - 기업정보 기본 설정 */
.footerinfo ol {
    width: 100%;
    height: auto;
    display: flex;
}

/* 풋터 - SNS 아이콘 기본 설정 */
.footerinfo .iconbox {
    width: 100%;
    height: auto;
    display: flex;
}

.footerinfo .iconbox img {
    width: 100%;
    height: auto;
    max-width: 24px;
    max-height: 24px;
}

.footerbox #companyinfo {
    width: 100%;
    height: auto;
    display: flex;
}

/* 풋터 - 산하 스튜디오 기본 설정 */
#companyinfo #affiliate {
    width: 100%;
    height: auto;
    display: flex;
}
/* 풋터 - 기본 설정 끝 */

/* 반응형 - 노트북 기본 설정 */
.laptop {
    display: none;
    background-image: url("../img/menu3.png");
}

#laptopmenu {
    margin: 10px;
}

/* .laptop {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 10px;
} */
