@charset "UTF-8";

/* 메인 - 마우스오버 효과 기본 설정 */
:is(article, section a, main img, #snsbox img, #image3dbones div img):hover {
    cursor: pointer;
}

/* 메인 - 비디오 슬라이드 기본 설정*/
#slider video {
    width: 100%;
    height: auto;
}

/* 메인 - 뉴스 와이드 기본 설정 */
section {
    width: 100%;
    height: auto;
    display: flex;
}

/* 메인 - 뉴스 와이드 아티클 기본 설정 */
article {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* 메인 - 뉴스 와이드 아티클 배경 이미지 */
article:nth-of-type(1) {
    background-image: url("../img/newsimg4.jpg");
}

article:nth-of-type(2) {
    background-image: url("../img/newsimg1.jpg");
}

article:nth-of-type(3) {
    background-image: url("../img/newsimg3.jpg");
}

/* 메인 - 뉴스 와이드 텍스트 기본 설정 */
article h4,
article p,
article time {
    font-size: 0.85em;
    color: #fff;
    text-align: center;
}

article time {
    display: block;
    color: #bcbcbc;
}

/* 메인 - 뉴스 와이드 텍스트 오른쪽 밑 모두 보기 기본 설정 */
section a {
    width: 100%;
    height: auto;
    color: #fff;
}

/* 메인 - 모두 보기 화살표 기본 설정 */
section a img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

/* 메인 - 메인 이미지 기본 설정 */
main {
    width: 100%;
    height: auto;
    overflow: hidden;
}

main img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* 메인 - SNS 메뉴바 기본 설정 */
.social {
    width: 100%;
    height: auto;
    display: flex;
}

/* 메인 - SNS 메뉴바 속 내용 기본 설정 */
.social #snsbox {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #fff;
    clip-path: polygon(0 0, 98% 0, 100% 40%, 100% 100%, 0 100%, 0% 50%);
}

#snsbox h2 {
    color: #000;
}

#snsbox h2::after {
    content: "ㅣ";
}

#snsbox img {
    width: 100%;
    height: auto;
}

/* 메인 - 게임소개 컨텐츠 기본 설정 */
aside {
    width: 100%;
    height: auto;
    display: flex;
}

/* 메인 - 게임소개 컨텐츠 타이틀 기본 설정 */
aside .asidetitle {
    width: 100%;
    height: auto;
}

aside .asidetitle h1 {
    color: #fff;
}

/* 메인 - 게임소개 컨텐츠 가운데 기본 설정 */
aside #imagebox {
    width: 100%;
    height: auto;
}

aside #imagebox img {
    width: 100%;
    height: auto;
}

/* 메인 - 게임 제목 및 설명 기본 설정 */
aside #imagebox span {
    width: 100%;
    height: auto;
}

aside #imagebox p {
    color: #fff;
}

aside #imagebox #asidebold {
    font-weight: bold;
}

/* 메인 - 게임소개 컨텐츠 오른쪽 기본 설정 */
aside #image3d {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}

aside #image3dbones {
    width: 100%;
    height: auto;
    display: flex;
}

aside #image3dbones div {
    width: 100%;
    height: auto;
}

aside #image3dbones div img {
    width: 100%;
    height: auto;
}
/* 메인 - 기본 설정 끝 */

/* 반응형 - 모바일 시작 */
@media all and (max-width:380px) {
    /* 반응형 - 모바일 헤더 밑 비디오  */
    #slider video {
        margin-bottom: 10%;
    }

    /* 반응형 - 모바일 비디오 슬라이드 밑 뉴스 와이드 */
    section {
        flex-flow: column wrap;
        position: relative;
        margin-bottom: 10%;
    }

    article {
        max-width: 80%;
        margin: 10%;
    }

    /* 반응형 - 모바일 뉴스 와이드 텍스트 */
    article h4,
    article p,
    article time {
        font-size: 0.9em;
        line-height: 40px;
    }

    .cardnews time {
        margin-top: 100%;
    }

    .cardnews p {
        font-size: 1.1em;
        line-height: normal;
    }

    /* 반응형 - 모바일 뉴스 와이드 모두 보기 */
    section a {
        max-width: 90px;
        max-height: 24px;
        position: absolute;
        bottom: -2%;
        left: 40%;
        text-align: center;
    }

    section a span {
        font-size: 1.1em;
    }

    /* 반응형 - 모바일 모두 보기 화살표 */
    section a img {
        max-width: 12px;
        min-height: 12px;
    }
    /* 반응형 - 모바일 뉴스 와이드 끝 */

    /* 반응형 - 모바일 뉴스 와이드 밑 메인 이미지 */
    main {
        max-width: 380px;
        padding: 10% 0;
    }

    /* 반응형 - 모바일 메인 이미지 밑 SNS 메뉴바 */
    .social {
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 380px;
        min-height: 150px;
    }

    .social #snsbox {
        max-width: 90%;
        max-height: 90px;
        flex-flow: row wrap;
        align-content: space-around;
        justify-content: center;
        margin: 0 auto;
        clip-path: polygon(0 0, 90% 0, 100% 38%, 100% 100%, 0 100%, 0% 50%);
    }

    #snsbox h2 {
        width: 100%;
        text-align: center;
        height: 40px;
    }

    #snsbox h2::after {
        display: none;
    }

    #snsbox img {
        max-width: 36px;
        min-height: 36px;
        margin: 0 2%;
    }
    /* 반응형 - 모바일 메인 이미지 밑 SNS 메뉴바 */

    /* 반응형 - 모바일 메인 이미지 밑 게임소개 컨텐츠 시작 */
    aside {
        flex-flow: column wrap;
        justify-content: flex-start;
        max-width: 380px;
        min-height: 520px;
        margin-bottom: 25%;
    }

    /* 반응형 - 모바일 게임소개 컨텐츠 왼쪽에서 첫번째 */
    aside .asidetitle {
        max-width: 380px;
        max-height: 35px;
        margin-bottom: 5%;
        text-align: center;
    }

    /* 반응형 - 모바일 게임소개 컨텐츠 가운데 시작 */
    aside #imagebox {
        max-width: 380px;
        min-height: 280px;
        text-align: center;
    }

    aside #imagebox img {
        max-width: 300px;
        margin: 0 auto;
    }

    /* 반응형 - 모바일 가운데 게임 제목 및 설명 */

    aside #imagebox #asidebold {
        line-height: 40px;
    }

    aside #imagebox #asidetext {
        max-width: 80%;
        min-height: 70px;
        margin: 0 auto;
    }
    /* 반응형 - 모바일 게임소개 컨텐츠 가운데 끝 */

    /* 반응형 - 모바일 게임소개 컨텐츠 오른쪽 시작 */
    aside #image3d {
        max-width: 380px;
        max-height: 150px;
        margin: 10% 0;
    }

    aside #image3dbones {
        max-width: 380px;
        max-height: 150px;
        justify-content: space-evenly;
    }

    aside #image3dbones div {
        max-width: 100px;
    }
    /* 반응형 - 모바일 게임소개 컨텐츠 끝 */

}
/* 반응형 - 모바일 끝 */

/* 반응형 - 모바일 가로 시작*/
@media all and (min-width:381px) and (max-width:767px) {
    /* 반응형 - 모바일 가로 헤더 밑 비디오  */
    #slider video {
        max-width: 767px;
    }

    /* 반응형 - 모바일 가로 비디오 슬라이드 밑 뉴스 와이드 */
    section {
        flex-flow: column wrap;
        position: relative;
    }

    article {
        max-width: 90%;
        min-height: 500px;
        margin: 12% 5%;
    }

    article:hover {
        transform: scale(1.0);
    }

    /* 반응형 - 모바일 가로 뉴스 와이드 텍스트 */
    article h4,
    article p,
    article time {
        font-size: 1.1em;
        line-height: 40px;
    }

    .cardnews time {
        margin-top: 100%;
    }

    .cardnews p {
        font-size: 1.3em;
        line-height: normal;
    }

    /* 반응형 - 모바일 가로 뉴스 와이드 모두 보기 */
    section a {
        max-width: 85px;
        max-height: 24px;
        position: absolute;
        bottom: -1%;
        left: 44%;
        text-align: center;
    }

    section a span {
        font-size: 1.05em;
    }

    /* 반응형 - 모바일 가로 모두 보기 화살표 */
    section a img {
        max-width: 14px;
        min-height: 14px;
        position: absolute;
        top: 5px;
        right: -10px;
    }

    section a:hover .more_news {
        right: -20px;
    }
    /* 반응형 - 모바일 가로 뉴스 와이드 끝 */

    /* 반응형 - 모바일 가로 뉴스 와이드 밑 메인 이미지 */
    main {
        max-width: 90%;
        margin: 10% 5%;
    }

    main img:hover {
        transform: scale(1.0);
    }

    /* 반응형 - 모바일 가로 메인 이미지 밑 SNS 메뉴바 */
    .social {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 10%;
    }

    .social #snsbox {
        max-width: 90%;
        min-height: 90px;
        flex-flow: row wrap;
        align-content: space-around;
        justify-content: center;
        margin: 0 auto;
    }

    #snsbox h2 {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        height: 30px;
    }

    #snsbox h2::after {
        display: none;
    }

    #snsbox img {
        max-width: 40px;
        min-height: 40px;
        margin: 0 2%;
    }
    /* 반응형 - 모바일 가로 메인 이미지 밑 SNS 메뉴바 */

    /* 반응형 - 모바일 가로 메인 이미지 밑 게임소개 컨텐츠 시작 */
    aside {
        flex-flow: column wrap;
        align-items: center;
        min-height: 520px;
        margin-bottom: 10%;
    }

    /* 반응형 - 모바일 가로 게임소개 컨텐츠 왼쪽에서 첫번째 */
    aside .asidetitle {
        max-width: 100%;
        font-size: 1.3rem;
        margin-bottom: 5%;
        text-align: center;
    }

    /* 반응형 - 모바일 가로 게임소개 컨텐츠 가운데 시작 */
    aside #imagebox {
        max-width: 90%;
        min-height: 400px;
        text-align: center;
    }

    aside #imagebox img {
        max-width: 95%;
        margin: 0 auto;
    }

    /* 반응형 - 모바일 가로 가운데 게임 제목 및 설명 */
    aside #imagebox #asidebold {
        line-height: 50px;
        font-size: 1.15em;
    }

    aside #imagebox #asidetext {
        max-width: 90%;
        min-height: 70px;
        line-height: 25px;
        margin: 0 auto;
    }

    /* 반응형 - 모바일 가로 게임소개 컨텐츠 가운데 끝 */

    /* 반응형 - 모바일 가로 게임소개 컨텐츠 오른쪽 시작 */
    aside #image3d {
        max-width: 100%;
        max-height: 250px;
        margin: 5% 0;
    }

    aside #image3dbones {
        max-width: 100%;
        max-height: 300px;
        justify-content: space-evenly;
    }

    aside #image3dbones div {
        max-width: 200px;
    }
    /* 반응형 - 모바일 가로 게임소개 컨텐츠 끝 */

}
/* 반응형 - 모바일 가로 끝 */

/* 반응형 - 태블릿 시작 */
@media all and (min-width:768px) and (max-width:1023px) {
    /* 반응형 - 태블릿 헤더 밑 비디오 */
    #slider video {
        max-width: 1023px;
    }

    /* 반응형 - 태블릿 비디오 슬라이드 밑 뉴스 와이드 */
    section {
        flex-flow: row nowrap;
        justify-content: space-around;
        position: relative;
        margin-bottom: 15%;
    }

    article {
        max-width: 23%;
    }

    article:hover {
        transform: scale(1.0);
    }

    /* 반응형 - 태블릿 뉴스 와이드 텍스트 */
    article h4,
    article p,
    article time {
        font-size: 1.1em;
        line-height: 40px;
    }

    .cardnews time {
        margin-top: 100%;
    }

    .cardnews p {
        font-size: 1.3em;
        line-height: normal;
    }

    /* 반응형 - 태블릿 뉴스 와이드 모두 보기 */
    section a {
        max-width: 85px;
        max-height: 24px;
        position: absolute;
        bottom: -22%;
        right: 6%;
        text-align: center;
    }

    section a span {
        font-size: 1.05em;
    }

    /* 반응형 - 태블릿 모두 보기 화살표 */
    section a img {
        max-width: 14px;
        min-height: 14px;
        position: absolute;
        top: 5px;
        right: -10px;
    }

    section a:hover .more_news {
        right: -20px;
    }
    /* 반응형 - 태블릿 뉴스 와이드 끝 */

    /* 반응형 - 태블릿 뉴스 와이드 밑 메인 이미지 */
    main {
        max-width: 80%;
        margin: 0 auto 10%;
    }

    main img:hover {
        transform: scale(1.0);
    }

    /* 반응형 - 태블릿 메인 이미지 밑 SNS 메뉴바 */
    .social {
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 10%;
    }

    .social #snsbox {
        max-width: 90%;
        min-height: 90px;
        flex-flow: row wrap;
        align-content: space-around;
        justify-content: center;
        margin: 0 auto;
    }

    #snsbox h2 {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        height: 30px;
    }

    #snsbox h2::after {
        display: none;
    }

    #snsbox img {
        max-width: 40px;
        min-height: 40px;
        margin: 0 2%;
    }
    /* 반응형 - 태블릿 메인 이미지 밑 SNS 메뉴바 */

    /* 반응형 - 태블릿 메인 이미지 밑 게임소개 컨텐츠 시작 */
    aside {
        flex-flow: column wrap;
        align-items: center;
        min-height: 900px;
        margin-bottom: 10%;
    }

    /* 반응형 - 태블릿 게임소개 컨텐츠 왼쪽에서 첫번째 */
    aside .asidetitle {
        max-width: 100%;
        font-size: 1.3rem;
        margin-bottom: 5%;
        text-align: center;
    }

    /* 반응형 - 태블릿 게임소개 컨텐츠 가운데 시작 */
    aside #imagebox {
        max-width: 70%;
        text-align: center;
        min-height: 520px;
    }

    aside #imagebox img {
        max-width: 100%;
        min-height: 400px;
    }

    /* 반응형 - 태블릿 가운데 게임 제목 및 설명 */
    aside #imagebox #asidebold {
        line-height: 50px;
        font-size: 1.15em;
    }

    aside #imagebox #asidetext {
        max-width: 90%;
        min-height: 70px;
        line-height: 25px;
        margin: 0 auto;
    }

    /* 반응형 - 태블릿 게임소개 컨텐츠 가운데 끝 */

    /* 반응형 - 태블릿 게임소개 컨텐츠 오른쪽 시작 */
    aside #image3d {
        max-width: 100%;
        max-height: 250px;
        margin: 5% 0;
    }

    aside #image3dbones {
        max-width: 100%;
        max-height: 300px;
        justify-content: space-evenly;
    }

    aside #image3dbones div {
        max-width: 250px;
    }
    /* 반응형 - 태블릿 게임소개 컨텐츠 끝 */
}

/* 반응형 - 데스크탑 시작 */
@media all and (min-width:1024px) and (max-width:1920px) {
    /* 반응형 - 데스크탑 슬라이더 비디오 */
    #slider video {
        max-width: 1920px;
    }

    /* 반응형 - 데스크탑 비디오 슬라이드 밑 뉴스 와이드 */
    section {
        max-width: 100%;
        min-height: 250px;
        flex-flow: row wrap;
        justify-content: space-around;
        position: relative;
        margin: 10% 0;
    }

    /* 반응형 - 데스크탑 뉴스 와이드 아티클 */
    article {
        max-width: 20%;
    }

    article:hover {
        transform: scale(1.0);
    }

    /* 반응형 - 데스크탑 뉴스 와이드 텍스트 */
    article h4,
    article p,
    article time {
        line-height: 40px;
    }

    article time {
        margin-top: 100%;
    }

    article p {
        line-height: normal;
    }

    /* 반응형 - 데스크탑 뉴스 와이드 텍스트 오른쪽 밑 모두 보기 */
    section a {
        position: absolute;
        right: 5%;
        bottom: -20%;
        max-width: 100px;
        min-height: 30px;
    }

    /* 반응형 - 데스크탑 모두 보기 화살표 */
    section a img {
        max-width: 15px;
        position: absolute;
        top: 5px;
        right: 15px;
    }

    section a:hover .more_news {
        right: 5px;
    }
    /* 반응형 - 데스크탑 뉴스 와이드 끝 */

    /* 반응형 - 데스크탑 뉴스 와이드 밑 메인 이미지*/
    main {
        max-width: 90%;
        margin: 0 auto;
    }

    main img:hover {
        transform: scale(1.0);
    }

    /* 반응형 - 데스크탑 메인 이미지 밑 SNS 메뉴바 시작 */
    .social {
        max-width: 90%;
        min-height: 250px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .social #snsbox {
        max-width: 1420px;
        min-height: 50px;
        justify-content: center;
        clip-path: polygon(0 0, 98% 0, 100% 40%, 100% 100%, 0 100%, 0% 50%);
    }

    #snsbox h2 {
        display: inline-block;
        color: #000;
        line-height: 50px;
    }

    #snsbox h2::after {
        margin: 0 20px;
    }

    #snsbox img {
        max-width: 44px;
        min-height: 44px;
        margin: 0.4%;
    }
    /* 반응형 - 데스크탑 메인 이미지 밑 SNS 메뉴바 끝 */

    /* 반응형 - 데스크탑 SNS 메뉴바 밑 게임소개 컨텐츠 */
    aside {
        max-width: 100%;
        max-height: 500px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 5%;
    }

    /* 반응형 - 데스크탑 게임소개 컨텐츠 왼쪽에서 첫번째 */
    aside .asidetitle {
        max-width: 200px;
        max-height: 70px;
        text-align: center;
    }

    aside .asidetitle h1 {
        font-size: 3.0em;
    }

    /* 반응형 - 데스크탑 게임소개 컨텐츠 가운데 시작 */
    aside #imagebox {
        max-width: 500px;
        min-height: 400px;
    }

    aside #imagebox img {
        min-height: 300px;
    }

    /* 반응형 - 데스크탑 가운데 게임 제목 및 설명 */
    aside #imagebox span {
        margin: 0 auto;
        text-align: center;
    }

    aside #imagebox #asidebold {
        padding: 10px;
        font-size: 1.3em;
    }

    aside #imagebox #asidetext {
        font-size: 1.05em;
    }
    /* 반응형 - 데스크탑 게임소개 컨텐츠 가운데 끝 */

    /* 반응형 - 데스크탑 게임소개 컨텐츠 오른쪽 시작 */
    aside #image3d {
        max-width: 200px;
        max-height: 500px;
        justify-content: center;
    }

    aside #image3dbones {
        max-width: 200px;
        max-height: 700px;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        gap: 20px 0;
    }

    aside #image3dbones div {
        max-width: 150px;
    }

    /* 반응형 - 데스크탑 게임소개 컨텐츠 끝 */

    /* 반응형 - 데스크탑 풋터 시작 */
    footer {
        max-width: 100%;
        min-height: 450px;
    }

    footer .footerbox {
        max-width: 80%;
        min-height: 450px;
        margin: 0 auto;
        justify-content: center;
        align-content: flex-start;
    }

    .footerbox #foottop {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 0 50px;
        max-height: 40px;
        margin-bottom: 5%;
    }

    /* 반응형 - 데스크탑 풋터 로고 */
    .footerbox #footerlogo {
        margin-bottom: 5%;
    }

    /* 반응형 - 데스크탑 풋터 기업정보 & SNS 아이콘 */
    .footerbox .footerinfo {
        flex-flow: row nowrap;
        max-width: 100%;
        min-height: 50px;
        margin-bottom: 5%;
    }

    /* 반응형 - 데스크탑 풋터 기업정보 */
    .footerinfo ol {
        max-width: 50%;
        min-height: 50px;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.95em;
    }

    /* 반응형 - 데스크탑 풋터 SNS 아이콘 */
    .footerinfo .iconbox {
        max-width: 50%;
        max-height: 50px;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 0;
    }

    .footerbox #companyinfo {
        max-width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: 0.8em;
    }

    /* 반응형 - 데스크탑 풋터 산하 스튜디오 */
    #companyinfo #affiliate {
        max-width: 60%;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}
