@charset "UTF-8";

/* 서브 - 마우스오버 효과 기본 설정 */
:is(button, .titleLogo>img) {
  cursor: pointer;
}

button:hover {
  color: #000;
  background: linear-gradient(90deg, rgba(166, 141, 101, 1) 0%, rgba(151, 125, 82, 1) 47%, rgba(225, 213, 173, 1) 100%);
  border: 2px solid #9f8354;
}

/* 서브 - 기본 설정 */
#wrap h2,
#wrap h3 {
  padding-bottom: 5%;
}

#wrap h2 {
  font-size: 1.6em;
}

#wrap h3 {
  font-size: 1.4em;
}

#wrap p {
  font-size: 0.9em;
}

#wrap img {
  width: 100%;
  height: auto;
}

hr {
  width: 100%;
  max-width: 90%;
  height: 1px;
  display: none;
  margin: 5% auto;
}

/* 서브 - 기본 설정 끝*/

/* 서브 - 상단 구매 페이지 기본 설정 */
.mainimage {
  width: 90vw;
  height: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.headImg {
  max-width: 70%;
}

.pcSupportImg {
  display: none;
  max-width: 50%;
}

.mobileSupportImg {
  display: block;
  max-width: 80%;
}

/* 서브 - 버튼 기본 설정 */
button {
  width: 100%;
  max-width: 80%;
  height: auto;
  color: #fff;
  min-height: 100px;
  font-size: 1.4em;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #000;
  transition: all 0.5s ease;
}

/* 서브 - 게임소개 페이지 */
.introduction {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
}

/* 서브 - 유튜브 영상 & 텍스트 박스 */
.introduction .twinbox {
  width: 100%;
  height: auto;
  min-height: 50vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-bottom: 10%;
}

/* 서브 - 유튜브 영상 */
.introduction iframe {
  width: 100%;
  height: 100%;
  max-width: 90%;
  min-height: 50vw;
  padding: 5%;
}

/* 서브 - 게임 소개 텍스트 박스 */
.introduction aside {
  width: 100%;
  height: auto;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* 서브 - 개선 사항 - 1 */
.introduction ul {
  width: 100%;
  max-width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  font-size: 0.95em;
}

.introduction ul li {
  line-height: 30px;
  list-style-image: url("../img/mobile_gunimg.jpg");
  color: #d89100;
}

/* 서브 - 개선 사항 - 2 */
.introduction span {
  width: 100%;
  height: auto;
  text-align: center;
  max-width: 90%;
  padding: 5%;
}

.introduction span p {
  line-height: 35px;
}

/* 서브 - 업데이트 소식  */
.updateNews {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 90%;
  padding: 5%;
  text-align: center;
}

/* 서브 - 업데이트 소식 내용 */
.updateNews p {
  padding-bottom: 5%;
}

/* 서브 - 업데이트 소식 받기 버튼 */
.updateNews button {
  background: #ffab00;
  color: #000;
  opacity: 0.8;
  padding: 2% 0;
  margin-bottom: 10%;
}

.updateNews button:hover {
  opacity: 1.0;
}

/* 서브 - 업데이트 소식 밑 개별적 타이틀 */
.IndividualTitles {
  width: 100%;
  max-width: 90%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 0 5%;
}

/* 서브 - 개별적 타이틀 세번째 */
#wrap .IndividualTitles section:nth-of-type(3) h2 {
  font-size: 1.4em;
}

.IndividualTitles section p {
  height: 120px;
}

.IndividualTitles section:not(:first-child) {
  display: none;
}

/* 서브 - 개별적 타이틀 밑 로고 */
.IndividualTitles .titleLogo {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

#wrap .IndividualTitles .titleLogo img {
  width: 81px;
  height: 86px;
}

/* 서브 - 리마스터 전/후 비교 동영상 슬라이더 시작 */
.ComparisonVideo {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 90%;
  margin: 5% auto 15%;
}

.ComparisonVideo video {
  width: 100%;
}

.ComparisonVideo video:not(:first-of-type) {
  display: none;
}

.after {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.after>video {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 99.5%;
  width: auto;
  max-width: none;
}

/* 서브 - 리마스터 전/후 비교 동영상 슬라이더 끝 */

/* 서브 - 하단 구매 섹션 */
.pre-purchase {
  width: 100%;
  height: 70vw;
  position: relative;
  background: url("../img/purchaseimg.jpg") no-repeat center top / contain;
  margin-bottom: 15%;
}

.pre-purchase h3 {
  font-weight: lighter;
  color: #f7f7f7;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}

.pre-purchase button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  min-height: 60px;
}

.pre-purchase img {
  max-width: 70%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

/* 반응형 - 모바일 */
@media all and (min-width:320px) and (max-width:767px) {

  /* 반응형 - 모바일 상단 구매 페이지 */
  .mainimage {
    padding: 10% 5%;
  }

  /* 반응형 - 모바일 개선 사항 - 1 */
  .introduction ul {
    padding-left: 15%;
  }
}

/* 반응형 - 태블릿 */
@media all and (min-width:768px) and (max-width:1023px) {

  /* 반응형 - 태블릿 플랫폼 이미지 */
  .mainimage .mobileSupportImg {
    max-width: 70%;
  }
}

/* 반응형 - 데스크탑 시작 */
@media all and (min-width:1024px) and (max-width:1920px) {

  /* 반응형 - 데스크탑 기본 설정 시작 */
  #wrap h2 {
    font-size: 2.0em;
    padding-bottom: 3.5%;
  }

  #wrap h3 {
    font-size: 1.7em;
  }

  #wrap p {
    font-size: 1.2em;
  }

  hr {
    display: block;
  }

  button {
    max-width: 40%;
    min-height: 100px;
    border-radius: 20px;
  }

  /* 반응형 - 데스크탑 기본 설정 끝 */

  /* 반응형 - 데스크탑 상단 구매 페이지 */
  .mainimage {
    height: 60vw;
  }

  .pcSupportImg {
    display: block;
  }

  .mobileSupportImg {
    display: none;
  }

  /* 반응형 - 데스크탑 게임소개 페이지 */
  .introduction {
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
  }

  /* 반응형 - 데스크탑 유튜브 영상 & 텍스트 박스 */
  .introduction .twinbox {
    min-height: 450px;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0;
  }

  /* 반응형 - 데스크탑 유튜브 영상 */
  .introduction iframe {
    max-width: 800px;
    min-height: 450px;
    padding: 0;
    margin-right: 5%;
  }

  /* 반응형 - 데스크탑 게임 소개 텍스트 박스 */
  .introduction aside {
    max-width: 38%;
    padding-left: 5%;
    text-align: left;
  }

  /* 반응형 - 데스크탑 개선 사항 - 1 */
  .introduction ul {
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    min-height: 600px;
    font-size: 1.3em;
  }

  .introduction ul li {
    flex-basis: 35%;
    line-height: normal;
    list-style-image: url("../img/list_gunimg.jpg");
  }

  /* 반응형 - 데스크탑 개선 사항 - 2 */
  .introduction span {
    padding: 0 5%;
  }

  .introduction span p {
    line-height: 40px;
  }

  /* 반응형 - 데스크탑 업데이트 소식  */
  .updateNews {
    padding: 0 5%;
  }

  /* 반응형 - 데스크탑 업데이트 소식 내용 */
  .updateNews p {
    padding-bottom: 2%;
  }

  /* 반응형 - 데스크탑 업데이트 소식 버튼 */
  .updateNews button {
    margin-bottom: 3%;
  }

  /* 반응형 - 데스크탑 업데이트 소식 밑 개별적 타이틀 */
  .IndividualTitles {
    max-width: 45%;
    padding: 0 27.5%;
    margin: 0;
  }

  /* 반응형 - 데스크탑 개별적 타이틀 세번째 */
  #wrap .IndividualTitles section:nth-of-type(3) h2 {
    font-size: 2.0em;
  }

  .IndividualTitles section p {
    padding: 3% 0;
    min-height: 85px;
  }

  /* 반응형 - 데스크탑 리마스터 전/후 비교 동영상 슬라이더 */
  .ComparisonVideo {
    max-width: 63%;
    margin: 5% auto;
  }

  /* 반응형 - 데스크탑 하단 구매 섹션 */
  .pre-purchase {
    max-width: 63vw;
    height: 36vw;
    margin: 0 auto 5%;
  }

  .pre-purchase button {
    top: 50%;
  }
}