@charset "UTF-8";

/* 서브 - 마우스오버 효과 기본 설정 */
:is(button, .titleLogo>img) {
  cursor: pointer;
}

button:hover {
  color: #000;
  background: linear-gradient(90deg, rgba(166, 141, 101, 1) 0%, rgba(151, 125, 82, 1) 47%, rgba(225, 213, 173, 1) 100%);
  border: 2px solid #9f8354;
}

/* 서브 - 수평선 */
hr {
  width: 100%;
  max-width: 90%;
  height: 1px;
  display: none;
  margin: 5% auto;
}

#wrap h2 {
  font-size: 1.6em;
}

#wrap h3 {
  font-size: 1.6em;
}

#wrap p {
  font-size: 1.2em;
}

/* 서브 - 메인 이미지 기본 설정 */
.mainimage {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 720px;
}

.mainimage img {
  width: 100%;
  height: auto;
  max-width: 50%;
}

.pcSupportImg {
  display: none;
}

.mobileSupportImg {
  display: block;
}

/* 서브 - 상단, 하단 구매하기 버튼 */
button {
  width: 100%;
  height: auto;
  color: #fff;
  max-width: 40%;
  min-height: 100px;
  font-size: 2.0em;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #000;
  transition: all 0.3s ease;
}

/* 서브 - 게임소개 페이지 */
.introduction {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
}

/* 서브 - 유튜브 영상 & 텍스트 박스 */
.introduction .twinbox {
  width: 100%;
  height: auto;
  min-height: 600px;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10%;
  justify-content: space-evenly;
}

/* 서브 - 유튜브 영상 */
.introduction iframe {
  width: 100%;
  height: 100%;
  max-width: 90%;
  min-height: 50vw;
  padding: 5%;
}

/* 서브 - 게임 소개 */
.introduction aside {
  width: 100%;
  height: auto;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

/* .introduction h1 {
  font-size: 2.2em;
  line-height: 80px;
  padding-bottom: 5%;
} */

/* .introduction p {
  font-size: 1.15em;
  line-height: 30px;
  padding: 5% 0;
} */

/* 서브 - 개선 사항 */
.introduction ul {
  width: 100%;
  max-width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* padding-left: 15%; */
  padding: 0 10%;
}

.introduction ul li {
  line-height: 45px;
  list-style-image: url("../img/mobile_gunimg.jpg");
  color: #d89100;
}

.introduction span {
  width: 100%;
  height: auto;
  text-align: center;
  max-width: 90%;
  padding: 10% 5%;
}

/* .introduction span h1 {
  line-height: 120px;
} */

/* .introduction span p {
  line-height: 30px;
} */

/* .introduction span p {
  font-size: 1.2em;
  line-height: 50px;
} */

/* 서브 - 업데이트 소식  */
.updateNews {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 90%;
  padding: 5%;
  text-align: center;
}

/* 서브 - 업데이트 소식 내용 */
/* .updateNews p {
  padding-bottom: 5%;
} */

/* 서브 - 업데이트 소식 받기 버튼 */
.updateNews button {
  margin-bottom: 10%;
  padding: 2% 0;
  font-size: 1.5em;
  background: #ffab00;
  color: #000;
  opacity: 0.8;
  transition: opacity 0.5s ease-out;
}

.updateNews button:hover {
  opacity: 1.0;
}

/* 서브 - 업데이트 소식 밑 개별적 타이틀 */
.IndividualTitles {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 0 27.5%;
}

.IndividualTitles section:not(:first-child) {
  display: none;
}

/* .IndividualTitles section h2 {} */

/* 서브 - 개별적 타이틀 밑 로고 */
.IndividualTitles .titleLogo {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.IndividualTitles .titleLogo img::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: orange;
}

/* 서브 - 리마스터 전/후 비교 동영상 슬라이더 */
.ComparisonVideo {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 90%;
  margin: 5% auto 15%;
}

.ComparisonVideo video {
  width: 100%;
}

.ComparisonVideo video:not(:first-of-type) {
  display: none;
}

.after {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.after>video {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 99.5%;
  width: auto;
  max-width: none;
}

/* 서브 - 하단 구매 섹션 */
.pre-purchase {
  width: 100%;
  height: 100vw;
  position: relative;
  background: url("../img/purchaseimg.jpg") no-repeat center top / contain;
  margin-bottom: 15%;
}

/* .pre-purchase h1 {
  font-size: 2.5em;
  font-weight: lighter;
  color: #f7f7f7;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
} */

.pre-purchase button {
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
}

.pre-purchase img {
  width: 100%;
  max-width: 70%;
  height: auto;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

/* 반응형 - 모바일 시작 */
@media all and (min-width:320px) and (max-width:767px) {
  /* 반응형 - 모바일 상단 구매 페이지 시작 */
  .mainimage img {
    max-width: 100%;
  }

  .mainimage .pcSupportImg {
    display: none;
  }

  .mainimage .mobileSupportImg {
    display: block;
    max-width: 80%;
  }

  button {
    max-width: 80%;
    min-height: auto;
    border-radius: 10px;
  }

  /* 반응형 - 모바일 메인 이미지 끝 */

  /* 반응형 - 모바일 메인 이미지 밑 게임소개 페이지 시작 */
  .introduction {
    flex-flow: column wrap;
  }

  .introduction aside {
    max-width: 90%;
    margin: 0 auto;
  }

  /* .introduction aside h1 {
    font-size: 1.6em;
    line-height: normal;
  } */

  .introduction ul {
    max-width: 80%;
    flex-direction: column;
    padding-left: 15%;
  }

  .introduction ul li {
    line-height: 4;
    font-size: 0.95em;
  }

  .introduction ul li:nth-of-type(2n) {
    line-height: 150%;
  }

  /* .introduction span h1 {
    line-height: normal;
    font-size: 1.6em;
  } */

  /* .updateNews h1 {
    font-size: 1.3em;
  } */

  .updateNews button {
    font-size: 0.8em;
  }

  .IndividualTitles {
    max-width: 90%;
  }

  /* .IndividualTitles section h2 {
    font-size: 1.4em;
    padding-bottom: 5%;
  } */

  .IndividualTitles section p {
    min-height: 120px;
  }

  /* .pre-purchase h1 {
    font-size: 1.5em;
  } */

  .pre-purchase button {
    max-width: 90%;
    font-size: 1.2em;
    bottom: 20%;
    min-height: 60px;
  }
}

@media all and (min-width:768px) and (max-width:1023px) {
  .mainimage {
    min-height: 800px;
  }
}

@media all and (min-width:1024px) and (max-width:1920px) {
  #wrap h2 {
    font-size: 2.0em;
    padding-bottom: 3.5%;
  }

  .pcSupportImg {
    display: block;
  }

  .mobileSupportImg {
    display: none;
  }

  .mainimage {
    max-width: 90%;
    min-height: 900px;
    margin: 0 auto;
  }

  hr {
    display: block;
  }

  .introduction {
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
  }

  .introduction .twinbox {
    max-width: 80%;
    flex-flow: row nowrap;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 0;
    min-height: 450px;
    padding: 0 10%;
  }

  .introduction iframe {
    max-width: 800px;
    min-height: 450px;
    padding: 0;
    margin-right: 5%;
  }

  .introduction aside {
    max-width: 38%;
    /* padding: 0 5%; */
    text-align: left;
  }

  /* .introduction h1 {
    padding-bottom: 0;
  } */

  .introduction ul {
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    min-height: 600px;
    font-size: 1.3em;
  }

  .introduction ul li {
    flex-basis: 35%;
    line-height: normal;
    list-style-image: url("../img/list_gunimg.jpg");
  }

  .introduction span {
    padding: 0 5%;
  }

  .introduction span p {
    line-height: 40px;
  }

  /* .updateNews h1 {
    padding-bottom: 2%;
  } */

  .updateNews {
    padding: 0 5%;
  }

  .updateNews p {
    padding-bottom: 2%;
  }

  .updateNews button {
    max-width: 35%;
    margin-bottom: 3%;
    padding: 2% 0;
    border-radius: 20px;
    font-size: 1.5em;
  }

  .IndividualTitles {
    max-width: 45%;
  }

  /* .IndividualTitles section h2 {
    font-size: 2.5em;
    line-height: 80px;
  } */

  .IndividualTitles section p {
    padding: 3% 0;
  }

  .ComparisonVideo {
    max-width: 63%;
    margin: 5% auto;
  }

  .pre-purchase {
    max-width: 74%;
    height: 700px;
    margin: 0 13% 5%;
  }

  .pre-purchase h3 {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }

  .pre-purchase button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pre-purchase img {
    max-width: 57%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}